/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {
  color: blue;
  border-bottom: 1px solid grey;
  height: 30px;
}
ul *{
  float: left;
  width: 10%;
}
ul{
  width: 100%;
}
footer {

}
main{
  padding-top: 100px;
  float: left;
}
.bigboy{
  width: 50%;
  height: 300px;
}
.logo{
  height: 10px;
  width: 10px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
