/* Please give the h1 some padding on three sides, margin on just one side, and a light purple background with light blue lettering */
h1{
    padding: 0 10px 10px 10px;
    margin: 100px;
    background: rgb(170, 77, 170);
    color: aqua;
}
/* Please give the h2 significant padding on the top and bottom, a dark green border on the top and bottom, and an orange background */
h2{
    padding: 300px 0;
    border-top: darkgreen solid 5px;
    border-bottom: darkgreen solid 5px;
    background: orange;
}
/* Please give the section a thick blue border, height of 300px, and more the 400px of margin on the top */
	section{
        border: blue solid 60px;
        height: 300px;
        margin-top: 401px;
    }
/* Please make the spans have thin yellow borders and equal padding / margin on all sides */
span{
    border: 1px yellow solid;
    padding: 10px;
    margin: 10px;

}