/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
*{
  text-align: center;
}
body >*{
  margin: 10px;
}
header >*{
  float: left;
  width: 100%
}
header{
  width: 100%;
}
nav a + img{
  margin: 0 25%;
}
header, header + section{
  background-color: rgb(102, 118, 138);
  color: white;
}
header + section{
  padding: 0 30px 30px 30px;
}
section + section{
  background: white;
}
.visit, .haveus{
  background: rgb(219, 223, 226);
  width: 100%;
}
.visit{
  width: 50%;
  float: left;
}
.haveus{
  width: 50%;
  float: left;
}
footer{
  background-color: rgb(22, 31, 42);
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
