*{
    box-sizing: border-box;
}
header, footer{
    border: 1px solid grey;
    clear: both;
    height: 100px;
}
section{
    border: 1px solid grey;
    height: 300px;
    float: left;
    width: 20%;
}
#frog{
  width: 40%;
}
@media screen and (max-width: 800px){
    section{
        background: yellow;
        border: 50px outset green;
    }
}
@media (min-width:801px) and (max-width: 900px){
    section{
        background: green;
        border: 50px inset yellow
    }
    
}
@media (min-width:901px) and (max-width:2000px){
    #frog{
        background-image: url(lizard.jpg);

    }
}