body{
    background-color: rgba(135,206,235,255);
    border: solid;
    position: relative;
    border-color: rgba(72,205,49,255);
    border-width: 5px;
    padding: 40px;
    margin: 30px;
    color: white;
}
h1{
    text-align: center;
    font-weight: 500
;
    font-style: italic;
    font-size: 40px;
}
nav{
    text-align: center;
    font-family: 'roboto', 'sans-serif';
    color: white;
    font-weight: 600;
    font-size: 19px;
}
.dash {
    color:grey
}
.portfolio{
    color: rgba(75,204,155,255);
   position:relative;
   left: 10px;
   border-color: grey;
   border: 5px;
   border-left: 4px;
}
img{
    width: 25%;
    float: right;
    max-width: 225px;
    width: auto;
    height: auto;
    padding: 25px;
}
h2{
    font-family: 'roboto', 'sans-serif';
}
p{
    font-weight: 500;
    font-size: 19px;
    color: whitesmoke;
    line-height: 1.35;
}
h6{
    font-size: 19px;
    color: grey;
}
.link { color: rgba(75,204,155,255);}