*{
    box-sizing: border-box;
}
header, footer{
    border: 1px solid grey;
    height: 100px;
    clear: both;
}
section{
    border: 1px solid grey;
    width: 33.3333%;
    height: 300px;
    float: left;
}
