*{
    box-sizing: border-box;
}
header, footer{
    border: 1px solid grey;
    clear: both;
    height: 100px;
}
section{
    border: 1px solid grey;
    height: 200px;
    float: left;
    width: 33.3333%;
}
.zebra{
    height: 300px;
    width: 50%;
    flex: auto;
}
@media screen and (max-width: 800px){
    section{
        background: blue;
    }
}
@media (min-width:801px) and (max-width: 900px){
    .zebra{
        display: none;
    }
    
}
@media (min-width:901px) and (max-width:2000px){
    .zebra{
        float: none;
    }
}
