/* Please give the h1 some padding on three sides, margin on just one side, and a light purple background with light blue lettering */
h1{
    padding: 10px 0 10px 10px;
    margin: 0 0 0 30px;
    background: rgb(175, 98, 175);
    color: lightblue;
}
/* Please give the h2 significant padding on the top and bottom, a dark green border on the top and bottom, and an orange background */
h2{
    border-top: solid darkgreen 10px;
    border-bottom: solid darkgreen 10px;
    background: orange;
    padding: 50px 0;
}
/* Please give the section a thick blue border, height of 300px, and more the 400px of margin on the top */
section{
    border: 10px solid blue;
    height: 300px;
    margin: 500px;
}	
/* Please make the spans have thin yellow borders and equal padding / margin on all sides */
span{
    border: 2px yellow solid;
    padding: 2px;
    margin: 5px;
}
